.container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 10px;
}

.title {
  font-family: "Exo";
  padding: 36px 0 24px;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: var(--white);
  text-shadow: 0px 1px 1px #000000;
}

.card__wrapper {
  display: flex;
  justify-content: center;
  row-gap: 14px;
  flex-wrap: wrap;
  column-gap: 80px;
}
